@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Musinsa";
  font-weight: 600;
  font-display: swap;
  src: url("/musinsa-Medium.ttf");
}

@font-face {
  font-family: "Musinsa-Bold";
  font-weight: 600;
  font-display: swap;
  src: url("/musinsa-Bold.ttf");
}

@font-face {
  font-family: "Bangers";
  font-weight: 600;
  font-display: swap;
  src: url("/Bangers.ttf");
}

body {
  font-family: "Musinsa", sans-serif;
}
